:root {
  font-size: 16px;
  --yellowMain: #f7df1e;
  --yellowModal: rgba(247, 222, 30, 0.85);
  --grisMain: #222;
  --grisModal: rgba(34, 34, 34, 0.85);
  --white: #ffffff;
  --baseFontFamily: "Rubik", Helvetica, arial, sans-serif;
  --textFontTitle: normal 30px / normal var(--baseFontFamily);
  --textFont: normal 32px / normal var(--baseFontFamily);
}

.wrapper {
  max-block-size: 950px;
}
.reloj {
  font: var(--textFont);
  text-align: center;
}
